@page
@model TuneHub.WebApp.Pages.IndexModel
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="~/js/spotifyWebSDK.js"></script>
<script type="text/javascript">
    WebPlayer.init("@Model.ApiKey");
    WebPlayer.start();
</script>
@*<script src="~/js/es5-chat.js"></script>*@