@page
@model TuneHub.WebApp.Pages.ProfileModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Owner</th>
        <th class="text-right">No. of Tracks</th>
    </tr>
    @foreach (var item in Model.Playlists.List)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Owner.Name</td>
            <td class="text-right">@item.Tracks.Total</td>
        </tr>
    }
</table>